.AddScreen {
    padding: 34px 41px 43px 35px;
  
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: $fontSizeU3;
      font-weight: bold;
      padding-bottom: 20px;
    }
  
    .main {
      padding-top: 20px;
    }
  
    .prefixText {
      padding: 0;
      font-weight: bold;
      border: none;
      background-color: unset;
      width: 80px;
      flex-shrink: 0;
    }
  
    .inputName {
      height: 48px;
      font-size: $fontSizeU1;
      border-radius: .25rem !important;
    }
  
    .dropdownContainer {
      display: flex;
      margin-top: 20px;
  
        .selectType {
          height: 48px;
          font-size: $fontSizeU1;
          border-radius: .25rem !important;
        }
  
      & :global(.form-group) {
        margin: 0;
        padding: 0;
      }
    }
  
    .footer {
      display: flex;
      justify-content: center;
      margin-top: 50px;
  
      & :first-child {
        margin-right: 30px;
      }
    }
  }
  